<app-game-featured [autoplayInterval]="6000"></app-game-featured>

@if (authService.isAuthenticated() && recommended()?.length) {
  <app-game-collection title="Recomendados para ti" [collection]="recommended()"></app-game-collection>
}

<app-game-collection title="Novedades"              [collection]="recentlyPublished()"></app-game-collection>
<app-game-collection title="Nuevos juegos"          [collection]="latestByReleaseDate()"></app-game-collection>
<app-game-collection title="Más jugados hoy"        [collection]="trendingToday()"></app-game-collection>
<app-game-collection title="Más jugados esta semana" [collection]="trendingWeek()"></app-game-collection>
<app-game-collection title="Más jugados este mes"   [collection]="trendingMonth()"></app-game-collection>
<app-game-collection title="Más populares"          [collection]="mostFavorited()"></app-game-collection>

@if (showSuccess) {
  <web-registration-success-ui [username]="successUsername" [planName]="successPlanName"></web-registration-success-ui>
}
