<h1>Términos y Condiciones de Uso</h1>

<h3>Registro y Responsabilidad de las Cuentas</h3>
<p>
  Para hacer uso de los módulos interactivos de Nebula, el usuario debe realizar un proceso de registro y asignarse un
  plan. El usuario asume toda la responsabilidad sobre la veracidad de los datos introducidos y se compromete a
  salvaguardar de forma confidencial su contraseña de acceso. Cualquier actividad detectada bajo sus credenciales será
  atribuida de manera exclusiva al titular de la cuenta.
</p>

<h3>Propiedad Intelectual e Integraciones de Terceros (API de IGDB)</h3>
<ul>
  <li>
    El diseño gráfico, las hojas de estilo CSS, la estructura lógica del software en Angular 21, el código del backend
    en PHP y la arquitectura de la base de datos de Nebula son propiedad intelectual exclusiva de
    <strong>Nebula Gaming Solutions S.L.</strong>
  </li>
  <li>
    Los metadatos de videojuegos, imágenes de portadas, títulos, estudios desarrolladores y calificaciones PEGI
    mostrados en el catálogo proceden de la API externa de
    <strong>IGDB</strong>
    (propiedad de Twitch Interactive Inc.). Su uso se realiza bajo los términos de licencia y atribución requeridos por
    la plataforma proveedora, con fines informativos y de valor añadido para el usuario de Nebula.
  </li>
</ul>

<h3>Condiciones de Pago y Cancelación de Planes</h3>
<ul>
  <li>
    <strong>Facturación Recurrente:</strong>
    Al contratar un plan de pago (ej. Plan Premium por 4.99€/mes o Plan Pro por 9.99€/mes), el cobro se cargará
    automáticamente en su tarjeta de crédito o cuenta de PayPal en la misma fecha calendario del inicio del servicio.
  </li>
  <li>
    <strong>Cancelación Directa:</strong>
    El usuario puede cancelar su suscripción en cualquier momento y de forma inmediata desde el apartado "Gestión de
    Planes" en su panel de configuración de perfil. El usuario seguirá disfrutando de las ventajas contratadas hasta que
    finalice el periodo de facturación actual de 30 días, momento en el cual su cuenta volverá al plan Gratuito sin
    penalizaciones de ningún tipo.
  </li>
  <li>
    <strong>Política de Reembolso:</strong>
    Si decide cancelar el servicio en los primeros 14 días naturales desde su primera contratación, tiene derecho al
    desistimiento y reembolso íntegro de su dinero siempre que no haya registrado más de 5 sesiones de juego durante
    dicho periodo.
  </li>
</ul>

<h3>Limitación de Responsabilidad y Garantías</h3>
<p>
  Aunque empleamos servidores de alto rendimiento en contenedores aislados y protegemos la infraestructura en Railway
  frente a ataques e inyecciones, Nebula no garantiza que la plataforma esté completamente libre de interrupciones
  temporales debido a labores programadas de mantenimiento de bases de datos o fallos generales de conectividad física
  ajenos a la empresa.
</p>
