<h1>Aviso legal</h1>
<h3>Información General del Titular</h3>
<p>
  En cumplimiento de lo dispuesto en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
  Información y Comercio Electrónico (LSSI-CE), se hace constar que el presente sitio web, accesible bajo el dominio
  <code>proyecto-nebula.vercel.app</code>
  (en adelante, "la Plataforma" o "Nebula"), es operado y de la exclusiva titularidad de:
</p>
<ul>
  <li>
    <strong>Denominación Social:</strong>
    Nebula Gaming Solutions S.L.
  </li>
  <li>
    <strong>NIF:</strong>
    B-12345678
  </li>
  <li>
    <strong>Domicilio Social:</strong>
    Avenida de la Tecnología, Nº 42, Planta 3, 30007 Murcia, España
  </li>
  <li>
    <strong>Inscripción Registral:</strong>
    Inscrita en el Registro Mercantil de Murcia, Tomo 1450, Folio 88, Sección 8, Hoja MU-29384, Inscripción 1ª
  </li>
  <li>
    <strong>Contacto Técnico y de Soporte:</strong>
    soporte@nebula.com
  </li>
</ul>

<h3>Propósito de la Plataforma</h3>
<p>
  Nebula es una plataforma digital de catalogación, seguimiento de estadísticas y análisis temporal de sesiones de juego
  para usuarios aficionados y profesionales del sector de los videojuegos. La plataforma permite la creación de perfiles
  interactivos, sincronización de listas de favoritos, registro minucioso de métricas de juego y suscripción a planes de
  ventajas competitivas.
</p>

<h3>Aceptación de las Condiciones de Uso</h3>
<p>
  El acceso, navegación y uso de esta plataforma atribuye la condición de "Usuario" a cualquier persona que acceda a
  ella. Desde el momento en que se inicia la navegación, el Usuario acepta de forma expresa, plena y sin reservas todas
  y cada una de las cláusulas contenidas en este Aviso Legal. Si el Usuario no está de acuerdo con alguna de las
  directrices expuestas, deberá abstenerse de usar la plataforma y abandonar el sitio de inmediato.
</p>
