<h1>Mis Juegos</h1>

@if (isLoading()) {
  <div>Cargando...</div>
} @else {
  <app-game-collection
    title="Últimos juegos jugados"
    [collection]="lastPlayedGames()"
    emptyMessage="Todavía no has jugado a ningún juego"
  ></app-game-collection>

  <app-game-collection
    title="Mis favoritos"
    [collection]="favoriteGames()"
    emptyMessage="Todavía no tienes juegos favoritos"
  ></app-game-collection>

  <app-game-collection
    title="Juegos más jugados"
    [collection]="mostPlayedGames()"
    emptyMessage="Todavía no has jugado lo suficiente a ningún juego"
  ></app-game-collection>
}
