<h1>Mis Juegos</h1>

@if (isLoading()) {
  <div class="page-spinner"><i class="pi pi-spin pi-spinner"></i></div>
} @else {
  <div class="my-games-layout">
    <div class="my-games-layout__collections">
      <app-game-collection
        title="Últimos juegos jugados"
        [collection]="lastPlayedGames()"
        emptyMessage="Todavía no has jugado a ningún juego"
      ></app-game-collection>

      <app-game-collection
        title="Mis favoritos"
        [collection]="favoriteGames()"
        emptyMessage="Todavía no tienes juegos favoritos"
      ></app-game-collection>

      <app-game-collection
        title="Recomendados para ti"
        [collection]="recommendedGames()"
        emptyMessage="Sin recomendaciones disponibles"
      ></app-game-collection>
    </div>

    <div class="my-games-layout__ranking">
      <div class="total-playtime">
        <span class="total-playtime__label">Tiempo jugado</span>
        <div class="total-playtime__time">
          <span class="total-playtime__value">{{ totalPlayDisplay().hours | number:'1.0-0' }}<small>h</small></span>
          <span class="total-playtime__unit">{{ totalPlayDisplay().minutes | number:'2.0-0' }}<small>min</small></span>
        </div>
      </div>

      <app-game-list
          title="Juegos más jugados"
          [games]="mostPlayedGames()"
        ></app-game-list>
    </div>
  </div>
}
