<p-dialog
  appendTo="body"
  [header]="gallery ? '' : (header ?? '')"
  [showHeader]="!gallery && showHeader"
  [visible]="visible"
  (onHide)="onHide()"
  (onShow)="onShow()"
  [modal]="modal"
  [closable]="closable"
  [dismissableMask]="false"
  [closeOnEscape]="closeOnEscape"
  [maskStyleClass]="maskClass"
  [maskStyle]="activeMaskStyle"
  [contentStyle]="gallery ? galleryContentStyle : undefined"
  [style]="gallery ? galleryPanelStyle : { width: width }"
  [styleClass]="gallery ? 'app-modal-gallery-dlg' : ''"
>
  @if (gallery && (gallerySrc || galleryEmbedUrl)) {
    <div class="gallery-body">
      @if (galleryTotal > 1) {
        <button type="button" (click)="onPrevClick($event)" aria-label="Anterior" class="gallery-nav-btn">
          <i class="pi pi-angle-left gallery-nav-icon"></i>
        </button>
      }
      <div class="gallery-media-wrap">
        @if (gallerySrc && !imageLoaded) {
          <div class="gallery-spinner"></div>
        }
        @if (gallerySrc) {
          <img
            [src]="gallerySrc"
            [alt]="galleryAlt"
            [style.opacity]="imageLoaded ? '1' : '0'"
            class="gallery-img"
            (load)="onImageLoad()"
            (error)="onImageLoad()"
          />
        }
        @if (galleryEmbedUrl && safeEmbedUrl) {
          <div class="gallery-video-wrap">
            <iframe
              [src]="safeEmbedUrl"
              frameborder="0"
              allowfullscreen
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              class="gallery-iframe"
            ></iframe>
          </div>
        }
      </div>
      @if (galleryTotal > 1) {
        <button type="button" (click)="onNextClick($event)" aria-label="Siguiente" class="gallery-nav-btn">
          <i class="pi pi-angle-right gallery-nav-icon"></i>
        </button>
      }
    </div>
    @if (galleryTotal > 1) {
      <div class="gallery-counter">{{ galleryIndex + 1 }} / {{ galleryTotal }}</div>
    }
  }
  <ng-content></ng-content>
</p-dialog>
